{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "useBuiltIns": true,
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "react"
  ],
  "env":{
    "test": {
      "presets": [
        // Jest runs in Node
        ["env", {
          "targets": {
            "node": 6
          }
        }]
      ]
    }
  }
}
