{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "useBuiltIns": true,
      "modules": false,
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env":{
    // Babel transpilation of ES Modules is off by default so Webpack can tree-shake them.
    // In envs where webpack doesn't run (Jest), we must transpile ESM to CommonJS.
    "test": {
      "presets": [["env", { "modules": "commonjs" }]]
    },
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
