language: node_js
node_js:
  - 6
cache: yarn
env:
  global:
    - NODE_ENV=test
script:
  - yarn run lint
  - yarn run test -- --coverage
  - NODE_ENV=production yarn run webpack
after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  provider: s3
  region: us-east-1
  bucket: $(node config ProjectFQDomain)
  acl: public_read
  cache_control: "max-age=31536000"
  local_dir: dist
  skip_cleanup: true
  on:
    branch:
      - master
      - webpack2
    condition: $(node aws/utils bucketExists) = "true"
after_deploy:
  - node aws/utils invalidate index.html
notifications:
  email: false
  slack: bjacobel:xasDl3nTxo2feJGba70E43oR
