@value lightgrey from './colors.css';

.data {
  composes: center from './shared.css';
  composes: open-sans from './shared.css';
  color: lightgrey;
  font-style: italic;
}

.logo {
  height: 100px;
  background-image: url('../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
