@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@value blue from './colors.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title {
  color: blue;
  font-family: 'Open Sans', sans-serif;

  &::after {
    content: '!';
  }
}
